openapi: 3.1.0
info:
  title: Chess.com Published Data Clubs Titled Players API
  description: 'Public, read-only REST API exposing Chess.com data: player profiles and stats, monthly game

    archives (JSON and PGN), clubs and members, daily and live team matches, Swiss and round-robin

    tournaments, titled-player lists, country rosters, the daily puzzle, the streamer list, and

    live leaderboards.


    The API is unauthenticated; rate limiting applies to parallel requests (429 Too Many Requests).

    Responses use JSON-LD with ETag, Last-Modified, gzip, and JSONP support. Most endpoints refresh

    at most every 12-24 hours. Clients are encouraged to send a recognizable User-Agent including a

    contact email or URL.

    '
  version: '2026-05-25'
  contact:
    name: Chess.com Support
    url: https://support.chess.com
  x-logo:
    url: https://www.chess.com/favicon.ico
servers:
- url: https://api.chess.com/pub
  description: Chess.com Published Data API
tags:
- name: Titled Players
  description: Lists of titled players by FIDE title
paths:
  /titled/{title-abbrev}:
    get:
      summary: List Titled Players
      operationId: listTitledPlayers
      tags:
      - Titled Players
      parameters:
      - name: title-abbrev
        in: path
        required: true
        schema:
          type: string
          enum:
          - GM
          - WGM
          - IM
          - WIM
          - FM
          - WFM
          - NM
          - WNM
          - CM
          - WCM
      responses:
        '200':
          description: List of titled players
          content:
            application/json:
              schema:
                type: object
                properties:
                  players:
                    type: array
                    items:
                      type: string
