openapi: 3.2.0
info:
  title: Chess.com Published Data Streamers API
  description: 'Public, read-only REST API exposing Chess.com data: player profiles and stats, monthly game

    archives (JSON and PGN), clubs and members, daily and live team matches, Swiss and round-robin

    tournaments, titled-player lists, country rosters, the daily puzzle, the streamer list, and

    live leaderboards.'
  version: '2026-05-25'
  contact:
    name: Chess.com Support
    url: https://support.chess.com
  x-logo:
    url: https://www.chess.com/favicon.ico
servers:
- url: https://api.chess.com/pub
  description: Chess.com Published Data API
tags:
- name: Streamers
  description: Chess.com streamers
paths:
  /streamers:
    get:
      summary: List Chess.com Streamers
      operationId: listStreamers
      tags:
      - Streamers
      responses:
        '200':
          description: Chess.com streamers and their channel URLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  streamers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Streamer'
components:
  schemas:
    Streamer:
      type: object
      properties:
        username:
          type: string
        avatar:
          type: string
          format: uri
        twitch_url:
          type: string
          format: uri
        url:
          type: string
          format: uri
        is_live:
          type: boolean
